<h4 style="margin-top: 60px;"><b>返信先のコメント</b></h4>
  <b><%= @review.nickname %></b><br>
  <%= @review.comment %>
<br><br>

<%= form_for [@review, @reply] do |f| %>
  <%= f.label :ニックネーム %>
  <%= f.text_field :nickname, placeholder: "ニックネームを記入してください" %>
  <br>
  <%= f.label :コメント %>
  <%= f.text_field :comment, placeholder: "コメントを記入してください" %>
  <br>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to '戻る', reviews_path %>