<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>script</h1>
            <hr>
            <p>旗揚げ公演の脚本を公開中！<br>ご意見ご感想をコメントできます！</p>
        </div>
    </div>
</header>


<div class="jumbotron" id="script_container">
<iframe src="/pdfjs/web/viewer.html?file=script.pdf" style="border: 0" width="100%" height="550px" min-height="360px" frameborder="0" scrolling="no"></iframe>
</div>

<h1>コメント一覧</h1>

<div style="text-align: center;">
<a href="/reviews/new" class="btn btn-primary btn-xl">コメントを投稿する</a>
</div>

<br>
<hr>

<% @reviews.each do |review| %>
  <h4><b><%= review.nickname %></b></h4>
  <%= review.comment %>
  <br>
  <%= link_to 'このコメントに返信する', new_review_reply_path(review_id: review.id) %>
    <% review.replies.each do |reply| %>
      <h4><b><%= reply.nickname %></b></h4>
      <%= reply.comment %>
    <% end %>
  <hr>
<% end %>