<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>script</h1>
            <hr>
            <p>旗揚げ公演の脚本を公開中！<br>ご意見ご感想をコメントできます！</p>
            <a href="/script" class="btn btn-primary btn-xl" target="_blank">脚本を別タブで開く</a>
            <br><br>
            <a href="/reviews/download" class="btn btn-primary btn-xl" target="_blank">pdfでダウンロード</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">コメント</h2>
                <hr class="light">
                <a href="/reviews/new" class="btn btn-default btn-xl">コメントを投稿する</a>
            </div>
        </div>
    </div>
</section>

<br>

<% @reviews.each do |review| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="glyphicon glyphicon-user"></i><b><%= review.nickname %></b></h4>
    </div>
    <div class="panel-body">
      <%= simple_format(review.comment) %>
    </div>
  </div>
  <%= link_to 'このコメントに返信する', new_review_reply_path(review_id: review.id) %>
  <br><br>

  <% if review.replies.present? %>
  <h3>返信コメント</h3>
  <% end %>

    <% review.replies.each do |reply| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="glyphicon glyphicon-user"></i><b><%= reply.nickname %></b></h4>
        </div>
        <div class="panel-body">
          <%= simple_format(reply.comment) %>
        </div>
      </div>
    <% end %>
  <br>
  <hr>
<% end %>
